# Byte-compiled / package files
__pycache__/
*.py[cod]
*.so
*.swp
*.swo
*.DS_Store

# Virtual Environment
env/
venv/

# Django Stuff
db.sqlite3
/media/
staticfiles/
*.log

# Secrets and Environment Variables
.env
*.env

# Migrations (optional, you may want to keep these)
**/migrations/**

# Node.js / React
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# IDE Files
.vscode/
.idea/
*.iml

# OS-Specific Files
Thumbs.db
.DS_Store
